/* Crypto Module */

/* Lightbox */
#addCryptocurrencyBox {
    display: none;
}

/* Crypto General */
.cryptocurrency-stats {
	margin-bottom: 30px;
}
.cryptocurrency-box {
	margin-top: 15px;
}
.cryptocurrency-box-icon {
	width: 100%;
	text-align: center;
}
.cryptocurrency-box-icon img {
	max-width: 65%;
}
.cryptocurrency-box-title {
	color: #484848;
	font-size: 15px;
	line-height: 15px;
	font-weight: 800;
	letter-spacing: 0.5px;
}
.cryptocurrency-box-text {
    font-size: 14px;
    font-weight: 300;
    color: #8e8e8e;
}
.cryptocurrency-box-action a i {
    font-size: 18px;
    color: #8e8e8e;
}